/************************************ outer ************************************/

body{
    margin: 0;
    padding: 0;
    background: #222426;
    color: #C8C3BC;
    font-family: Arial, Helvetica, sans-serif;
}

div#info0{
    width: 60%;
    height: 6%;
    font-size: 8vw;
    position: absolute;
    top: 2%;
    left: 5%;
}

select#selectType{
    width: 20%;
    height: 3.5%;
    margin: 5px;
    font-size: 3vw;
    top: 3.3%;
    right: 5%;
    position: absolute;
    background: #36383A;
    color: white;
    cursor: pointer;
}

div#info1{
    width: 50%;
    min-width: 160px;
    position: absolute;
    top: 97%;
    right: 5%;
    text-align: right;
}

/************************************ content ************************************/

div#dust_contain{
    width: 100%;
    height: 100%;
}
div#dust_img_contain{
    width: 90%;
    height: 86%;
    position: absolute;
    top: 10%;
    left: 5%;
}
img#now_img{
    width: 100%;
    height: 100%;
}
div.loc{
    padding: 1px;
    display:inline-block;
    position: absolute;
    font-size: 5vw;
}
div#busan       {top: 66%; left: 76%;}
div#chungbuk    {top: 38%; left: 50%;}
div#chungnam    {top: 43%; left: 23%;}
div#daegu       {top: 55%; left: 66%;}
div#daejeon     {top: 48%; left: 40%;}
div#gangwon     {top: 25%; left: 60%;}
div#gwangju     {top: 67%; left: 28%;}
div#gyeongbuk   {top: 45%; left: 63%;}
div#gyeonggi    {top: 31%; left: 40%;}
div#gyeongnam   {top: 65%; left: 60%;}
div#incheon     {top: 28%; left: 20%;}
div#jeju        {top: 88%; left: 15%;}
div#jeonbuk     {top: 57%; left: 33%;}
div#jeonnam     {top: 73%; left: 30%;}
div#sejong      {top: 43%; left: 40%;}
div#seoul       {top: 23%; left: 33%;}
div#ulsan       {top: 60%; left: 80%;}
