/************************************ outer ************************************/

header::after,
nav::after,
aside::after,
div::after,
section::after,
li::after,
select::after {
    content: "";
    display: table;
    clear: both;
    cursor: auto;
}

img#mainTitle {
    cursor: pointer;
}

div#topLeft:hover,
div#topRight:hover,
div#topWrite:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

body {
    min-width: 800px;
    margin: 0;
    padding: 0;
    background: #181A1B;
    color: #C3C3C3;
    list-style: none;
    font-family: "arial";
}

div#main {
    width: 70%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 20px;
    padding-top: 10px;
}

@media screen and (max-width: 1600px) {
    div#main {
        width: calc(100% - 40px);
    }
}


/************************************ header ************************************/

header {
    width: 100%;
}

div#topLeft {
    width: 70px;
    margin-left: 7%;
    float: left;
    font-size: 2ex;
    text-align: center;
    color: #C8C3BC;
}

div#topRight {
    width: 70px;
    margin-right: 7%;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#topWrite {
    width: 70px;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#title {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

img#mainTitle {
    width: 700px;
}


/************************************ aside ************************************/

aside {
    width: 220px;
    float: right;
}

div#profile,
ul#category,
div#search_posting_div,
div#user_count {
    margin: 10px 10px 20px 10px;
    padding: 15px;
    list-style: none;
    border-radius: 20px;
    background: #222426;
    display: block;
}

li.category {
    padding: 15px;
    font-size: 2.3ex;
    font-weight: bold;
}

li.category:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

select#search_category_list {
    float: left;
    width: 70%;
    height: 25px;
    padding: 1.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.5ex;
    background: #36383A;
    color: white;
    cursor: pointer;
}

button#search_posting_btn {
    float: right;
    width: 25%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5ex;
    font-weight: 600;
    color: white;
    background: #222426;
    border: 1px solid #464646;
    border-radius: 5px;
    text-align: center;
}

button#search_posting_btn:hover {
    background-color: #36383A;
    cursor: pointer;
}

input#search_posting_text {
    float: left;
    width: 163px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5ex;
    font-weight: 600;
    border-radius: 5px;
}


/************************************ footer ************************************/

a.footer:link {
    text-decoration: none;
    color: darkgray;
}

a.footer:visited {
    text-decoration: none;
    color: darkgray;
}

a.footer:active {
    text-decoration: none;
    color: darkgray;
}

a.footer:hover {
    text-decoration: underline;
    color: #FF2E2E;
}

footer {
    margin: 40px;
    font-size: 2ex;
    color: darkgray;
}


/************************************ content ************************************/

section {
    padding: 10px;
    border-radius: 20px;
    background: #1A1C1D;
}

div#postings {
    width: calc(100% - 220px);
    margin-top: 10px;
}

div#left {
    width: 50%;
    float: left;
}

div#right {
    width: 50%;
    float: right;
}

div.posting,
button.page {
    background: #222426;
}

div.posting_ban {
    background: #3D202D;
}

div.posting:hover,
button.page:hover {
    background-color: #36383A;
    cursor: pointer;
}

div.posting_ban:hover {
    background: #5B243A;
    cursor: pointer;
}

div.posting,
div.posting_ban {
    width: calc(100% - 60px);
    margin: 0px 10px 20px 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
}

div.posting_title {
    padding: 30px 8% 20px 8%;
    font-size: 4ex;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.posting_date,
div.posting_writer {
    padding: 0px 4% 2% 4%;
    vertical-align: bottom;
    text-align: right;
    font-size: 2ex;
}

hr {
    background: #C3C3C3;
    margin-bottom: 20px;
}

div.posting_thumbnail_container {
    text-align: center;
}

img.posting_thumbnail {
    max-width: 90%;
    max-height: 400px;
    padding-bottom: 10px;
    font-size: 2.5ex;
    line-height: 200%;
    word-break: break-all;
}

div.posting_summary {
    width: 94%;
    padding: 0 10px 10px 10px;
    font-size: 2ex;
    line-height: 200%;
    word-break: break-all;
}

div#pages {
    margin: 10px 0 30px 0;
    text-align: center;
}

button.page {
    width: 35px;
    height: 30px;
    margin: 0 2px 0 2px;
    color: white;
    border: 1px solid #464646;
    border-radius: 5px;
    font-size: 2ex;
}

button#selectedPage {
    background-color: #36383A;
}

@media screen and (max-width: 1600px) {
    button.page {
        width: 30px;
        height: 30px;
        margin: 0 2px 0 2px;
        font-size: 1.7ex;
    }
}