/************************************ outer ************************************/

header::after,
nav::after,
aside::after,
div::after,
section::after,
li::after,
select::after {
    content: "";
    display: table;
    clear: both;
    cursor: auto;
}

img#mainTitle {
    cursor: pointer;
}

div#topLeft:hover,
div#topRight:hover,
div#topWrite:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

body {
    min-width: 800px;
    margin: 0;
    padding: 0;
    background: #181A1B;
    color: #C3C3C3;
    list-style: none;
    font-family: "arial";
}

div#main {
    width: 70%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 20px;
    padding-top: 10px;
}

@media screen and (max-width: 1600px) {
    div#main {
        width: calc(100% - 40px);
    }
}


/************************************ header ************************************/

header {
    width: 100%;
}

div#topLeft {
    width: 70px;
    margin-left: 7%;
    float: left;
    font-size: 2ex;
    text-align: center;
    color: #C8C3BC;
}

div#topRight {
    width: 70px;
    margin-right: 7%;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#topWrite {
    width: 70px;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#title {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

img#mainTitle {
    width: 700px;
}


/************************************ aside ************************************/

aside {
    width: 160px;
    margin: 10px;
    padding: 20px;
    float: right;
    border-radius: 20px;
    background: #222426;
    display: block;
}

div#profile,
div#search_posting_div,
div#user_count {
    margin: 10px 10px 20px 10px;
    padding: 15px;
    list-style: none;
    border-radius: 20px;
    background: #222426;
    display: block;
}

ul#category {
    margin: 10px;
    padding: 0px;
    list-style: none;
}

li.category {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2.3ex;
    font-weight: bold;
}

li.category:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/************************************ footer ************************************/

a.footer:link {
    text-decoration: none;
    color: darkgray;
}

a.footer:visited {
    text-decoration: none;
    color: darkgray;
}

a.footer:active {
    text-decoration: none;
    color: darkgray;
}

a.footer:hover {
    text-decoration: underline;
    color: #FF2E2E;
}

footer {
    margin: 40px;
    font-size: 2ex;
    color: darkgray;
}


/************************************ content ************************************/

section {
    padding: 10px;
    border-radius: 20px;
    background-color: #1A1C1D;
}

div#content {
    width: calc(100% - 80px);
    margin: 10px 10px 10px 10px;
    padding: 30px;
    border-radius: 20px;
    display: inline-block;
    background: #222426;
    color: white;
}

input#input_title {
    width: 94%;
    padding: 3%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 4ex;
    font-weight: bold;
    background: #36383A;
    color: white;
    cursor: text;
}

select#input_category {
    width: 30%;
    padding: 1.5%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    float: right;
    font-size: 2ex;
    background: #36383A;
    color: white;
    cursor: pointer;
}

textarea#input_content {
    width: 100;
    height: 1000px;
    /* min-width: 600px; */
    display: block;
    background: #36383A;
}

button#btn_submit {
    width: 100px;
    height: 40px;
    margin: 20px 0 10px 0;
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 2.2ex;
    font-weight: bold;
    background: #36383A;
    color: white;
    cursor: pointer;
}

button#btn_submit:hover {
    border: none;
    background: #484A4C;
}