/************************************ outer ************************************/

body{
    margin: 0;
    padding: 0;
    background: #222426;
    color: #C8C3BC;
    font-family: Arial, Helvetica, sans-serif;
}

div#info0{
    width: 90%;
    height: 6%;
    font-size: 8vw;
    position: absolute;
    top: 2%;
    left: 5%;
}

div#info1{
    width: 70%;
    font-size: 5vw;
    position: absolute;
    top: 12%;
    left: 5%;
}

div#info2{
    width: 30%;
    font-size: 3vw;
    position: absolute;
    top: 12.7%;
    right: 6%;
}

div#btn_info{
    padding: 2px;
    margin-right: 5px;
    float: right;
}

div#btn_rotate{
    padding: 5px;
    float: right;
    border-radius: 5px;
    background: #404040;
}

div#btn_rotate:hover{
    cursor: pointer;
}

div#table_contain{
    width: 90%;
    font-size: 3vw;
    position: absolute;
    top: 19%;
    left: 5%;
}

/************************************ content ************************************/

table{
    width: 100%;
    text-align: center;
}

td.main:hover, td.main_count:hover{
    cursor: pointer;
    background: #464646;
}

td.sub, td.sub_count{
    background: #464646;
}

td{
    border-radius: 5px;
}

td.rank{
    width: 10%;
}

td.main{
    width: 35%;
}

td.main_count{
    width: 10%;
}

td.sub{
    width: 35%;
}

td.sub_count{
    width: 10%;
}
